<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}One-Touch CNN{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="1CNN" />
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#121212">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}

        <footer>
            <p>Roku Control</p>
        </footer>
    </div>
</body>

</html>